@charset "utf-8";
/* CSS Document */

/* card flip effect tutorial: http://css3.bradshawenterprises.com/flip/ */

/* aspect ratio for height using padding demo: http://dabblet.com/gist/2590942 */


/* fonts */

@font-face {
  font-family: 'walkway-expand';
  src: url('../fonts/walkway_expand_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/walkway_expand_black-webfont.woff') format('woff'),
       url('../fonts/walkway_expand_black-webfont.ttf')  format('truetype'),
       url('../fonts/walkway_expand_black-webfont.svg#webfont') format('svg');
}

body {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 16px;
  background: #c9c9c9;
  margin: 0;
  -webkit-text-size-adjust: none;
}

a {
  color: #0E7DAA;
  text-decoration: none;
}

a:visited {
  color: #0E7DAA;
}

a:hover {
  text-decoration: underline;
}

h1 ,h2 ,h3 {
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  max-height: none !important;
}

p {
  line-height: 1.6em;
}

#header-expand {
  background: #067ca8;
  width: 100%;
  margin-bottom: 1%;
  box-shadow: 0 -5px 23px 5px #777;
}

#header {
  /*position: fixed;
  top: 0;
  left: 0;*/
  padding: 1.5% 0;
  /*height: 80px;*/
  z-index: 30;
  margin: 0 auto;
    max-width: 1370px;
  min-width: 1100px;
  overflow: auto;
}

#logo {
  width: 11.5%;
  float: left;
  margin-left: 1%;
}

#header-info {
  float: right;
  width: 30.5%;
  font-size: .8em;
  margin-right: 1%;
}

h1#site-name {
  margin: 0;
  border-bottom: 2px solid #999;
  color: #0E7DAA;
  padding: 0 2%;
}

#header #name {
  margin: 0;
  border-bottom: 2px solid #999;
  padding: 0 3px 0 13px;
  display: block;
  font-family: walkway-expand;
}

#header #name h1 {
  margin: 0;
}





span.first-name {
  padding-right: 10px;
  margin-right: 10px;
  border-right: #999 solid 2px;
  color: white;
}

span.last-name {
  color: #B7B5B5;
}

ul#header-links {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

ul#header-links li {
  float: left;
  background: url(../images/bullet.png) left center no-repeat;
  padding: .5em 3.5%;
  list-style: none;
  color: white;
}

ul#header-links li a {
  color: white;
}

ul#header-links li a:hover {
  color: white;
}

#page {
  margin: 0 auto 0 auto;
    max-width: 1370px;
  min-width: 1100px;
  padding-bottom: 2%;
  overflow: auto;
}

.container {
  position: relative;
  margin: 2% 0 1% 1.5%;
  width: 31.5%;
  z-index: 1;
  overflow: visible;
  -webkit-perspective: 1000;
  perspective: 1000;
  -moz-perspective: 1000;
  float: left;
  /*padding-bottom: 17.5%;*/
}

.flip-card {
  width: 100.1%;
  /*height: 100%;*/
  height: auto;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  padding-bottom: 125.3%;
  box-shadow: 0 14px 30px -8px #777777;
  cursor: pointer;
  border: none;
  z-index: 10;

}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /*background: white;*/
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  box-sizing: border-box;
  color: #666;
}

/*img.portfolio {
  box-shadow: 0 14px 30px -8px #777777;
  display: block;
  margin: 0 auto;
  /*max-height: 497px;*/
  /* this works in chrome and firefox but not in safari*/
  /*max-height: 100%*/

.no-images {
  padding-bottom: 8.6%;
  width: 55%;
  float: left;
}

.less-button, .more-button {
  margin-top: 20px;
  cursor: pointer;
  transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  float: left;
}

.show-more {
  cursor: pointer;
  transition: all .5s linear;
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  width: 100%;
  float: left;
  z-index: -5;
}

.more-icon, .less-icon {
  background-image: url("../images/moreV2.png");
    background-repeat: no-repeat;
    background-size: 299%;
    float: left;
    margin-right: 15px;
    text-indent: -500px;
    width: 29px;
  height: 29px;
}

.less-icon {
  background-position: -58px 0;
}

.more-images:hover .more-icon {
  background-position: -29px 0;
}

.more-text, .less-text {
  font-size: 1.1em;
  text-shadow: 1px 1px white;
  color: #7A7A7A;
  margin-top: .6%;
}

.flip-help {
  top: 0;
  left: 0;
  color: #999999;
  float: right;
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 50;
  pointer-events: none;
  padding-bottom: 125.3%;
  background: url(../images/trans.png);
}

.flip-help img {
  left: 36%;
    opacity: 0.9;
    position: absolute;
    top: 36%;
    width: 27%;
}

.description {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  background: white;
    box-shadow: 0 14px 30px -8px #777777;
}

.description h3 {
  text-align: left;
  color: #0E7DAA;
  margin: 0 auto;
  line-height: 1.7em;
}

.description h3:first-child {
  margin-top: .5em;
}


.description-text {
  margin-top: 1.5em;
}


/* ACTIONS */


.transform {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

img.hide {
  display: none;
}

.hide {
  display: none;
}

.fade {
  opacity: .3;
  pointer-events: none;
  cursor: pointer;
}

.not-flippable {
  pointer-events: none;
  cursor: pointer;
}


/* Buttons and copyright */


div.button {
  font-size: 1em;
  background: #2A7EAA;
  padding: .5%;
  width: 30%;
  margin: 0 auto;
}

div.button:hover {
  background: #67A4C3;
}

div.button a {
  border: 1px solid white;
  display: block;
  color: white;
  text-align: center;
  text-shadow: none;
  line-height: 1.6em;
}


span.copyright {
  font-size: .9em;
  font-style: italic;
  text-align: right;
  float: right;
  padding: 3% 0 0 0;
  position: absolute;
  bottom: 4%;
  right: 3%;
}

/* Quick Hacks */


/* possible semi-fix for some chrome versions */

.face.front {
  z-index: 50;
}

.back-active .face.back {
  z-index: 60;
}

/* hack to fix Opera displaying height 100% actually correct */

x:-o-prefocus, .face {
  height: 90%;
  overflow: hidden;
}
