<!-- Main content -->

<div class="main-content-container">
  <div class="loading" ng-hide="rows && window_width">
    <div class="loading__animation"></div>
    <div class="loading__text">
      Loading...
    </div>
  </div>

  <section class="main-content" ng-class="{'visible':rows, 'image-ratio--portrait':image_ratio == 'portrait', 'image-ratio--landscape':image_ratio == 'landscape'}">
      <!-- Desktop controller/view -->

      <div class="desktop-controller" ng-controller="desktopController" ng-show="window_width >= 768">
        <div class="portfolio-row two-row clearfix" ng-if="pieces_per_row == 2" ng-repeat="row in rows.ppr_2" ng-class="{'active-row':row.toggles.active_row}">
          <ng-include src="app_path + 'templates/two-row.html'">
          </ng-include>
        </div>
        <div class="portfolio-row three-row clearfix" ng-if="pieces_per_row == 3" ng-repeat="row in rows.ppr_3" ng-class="{'active-row':row.toggles.active_row}">
          <ng-include src="app_path + 'templates/three-row.html'">
          </ng-include>
        </div>
      </div>

      <!-- Mobile controller/view -->

      <div class="mobile-controller" ng-controller="mobileController" ng-show="window_width < 768">
        <div class="portfolio-row mobile-row clearfix" ng-repeat="row in rows.ppr_1">
          <ng-include src="app_path + 'templates/mobile-row.html'">
          </ng-include>
        </div>
      </div>
  </section>
</div>