<html ng-app="portfolio">
  <head>
    <link rel="stylesheet" type="text/css" href="css/megan.min.css" />
    <title>MK</title>
  </head>

  <body>
    <!-- header -->
    <div id="header-expand">
    <div id ="header">
<!--     <div id="logo"><img src="images/min/mk-logo-white.png" title="Megan Koschak, Graphic Designer, Seattle, Portland" alt="Megan Koschak, Graphic Designer, Seattle, Portland" /></div>
    <div id="header-info">
    <h1 id="site-name">megan | koschak</h1>
    <div id="name"><h1><span class="first-name">Megan</span><span class="last-name">Koschak</span></h1></div>
    <ul id="header-links"><li id="phone">715.650.0300</li><li id="email"><a href="mailto:megankoschak@gmail.com">megankoschak@gmail.com</a></li><li id="resume"><a href="Megan-Koschak-Resume.pdf" target="_blank" title="View/Download My Resume">resume pdf</a></li></ul>
    </div> -->
    </div>
    </div>

    <div id="page" ng-controller="PortfolioController as portfolio">

      <div class="portfolio-row" ng-repeat="row in rows">

        <!-- left piece -->
        <!-- ng-mouseenter="this.helpToggle = true" ng-mouseleave="this.helpToggle = false" -->

        <div class="container left">
          <div class="flip-card" ng-click="row.toggles.0.notFlippable || portfolio.flipToggle(this, $index, false, 0)" ng-class="{'transform':row.toggles.0.transform, 'fade':row.toggles.0.fade, 'not-flippable':row.toggles.0.notFlippable}">

            <div class="front face">
              <img class="piece-image primary" ng-hide="row.toggles.0.hidePrimaryImg" src="{{row.0.primary_image}}"/>
              <img class="piece-image nbr-center" ng-hide="row.toggles.0.hideFrontNbrImg_1" src="{{row.0.neighbor_images.center}}" />
              <img class="piece-image nbr-right" ng-hide="row.toggles.0.hideFrontNbrImg_2" src="{{row.0.neighbor_images.right}}"/>
            </div>

            <div class="back face center">
              <div class="description" ng-hide="row.toggles.0.hideDescription">
                <h3 class="multiple-line"> {{row.0.date}} </h3>
                <h3 class="multiple-line"> {{row.0.company}} </h3>
                <h3> {{row.0.programs}} </h3>
                <div class="description-text">
                  <p> {{row.0.description}} </p>
                </div>
              </div>
              <img class="piece-image nbr-center" ng-hide="row.toggles.0.hideBackNbrImg_1" src="{{row.0.neighbor_images.center}}" />
              <img class="piece-image nbr-right" ng-hide="row.toggles.0.hideBackNbrImg_2" src="{{row.0.neighbor_images.right}}"/>
            </div>

          </div>
          <div class="show-more" ng-click="portfolio.seeMore(this, $index, 0)" ng-class="{'fade':portfolio.show_more_active && row.toggles.0.notFlippable}">
            <div class="more-button" ng-hide="row.toggles.0.showMoreActive">
              <div class="more-icon"></div><span class="more-text">more from this piece</span>
            </div>
            <div class="less-button" ng-show="row.toggles.0.showMoreActive">
              <div class="less-icon"></div><span class="less-text">close piece</span>
            </div>
          </div>
          <!-- <div class="flip-help" ng-class="!this.helpToggle ? 'hide' : ''"><img src="images/info.png" /></div> -->
        </div>

        <!-- center piece -->

        <div class="container center">
          <div class="flip-card" ng-click="row.toggles.1.notFlippable || portfolio.flipToggle(this, $index, false, 1)" ng-class="{'transform':row.toggles.1.transform, 'fade':row.toggles.1.fade, 'not-flippable':row.toggles.1.notFlippable}">

            <div class="front face">
              <img class="piece-image primary" ng-hide="row.toggles.1.hidePrimaryImg" src="{{row.1.primary_image}}"/>
              <img class="piece-image nbr-left" ng-hide="row.toggles.1.hideFrontNbrImg_0" src="{{row.1.neighbor_images.left}}"/>
              <img class="piece-image nbr-right" ng-hide="row.toggles.1.hideFrontNbrImg_2"src="{{row.1.neighbor_images.right}}"/>
            </div>

            <div class="back face center">
              <div class="description" ng-hide="row.toggles.1.hideDescription">
                <h3 class="multiple-line"> {{row.1.date}} </h3>
                <h3 class="multiple-line"> {{row.1.company}} </h3>
                <h3> {{row.1.programs}} </h3>
                <div class="description-text">
                  <p> {{row.1.description}} </p>
                </div>
              </div>
              <img class="piece-image nbr-left" ng-hide="row.toggles.1.hideBackNbrImg_0" src="{{row.1.neighbor_images.left}}"/>
              <img class="piece-image nbr-right" ng-hide="row.toggles.1.hideBackNbrImg_2"src="{{row.1.neighbor_images.right}}"/>
            </div>

          </div>
          <div class="show-more" ng-click="portfolio.seeMore(this, $index, 1)" ng-class="{'fade':portfolio.show_more_active && row.toggles.1.notFlippable}">
            <div class="more-button" ng-hide="row.toggles.1.showMoreActive">
              <div class="more-icon"></div><span class="more-text">more from this piece</span>
            </div>
            <div class="less-button" ng-show="row.toggles.1.showMoreActive">
              <div class="less-icon"></div><span class="less-text">close piece</span>
            </div>
          </div>
        </div>

        <!-- right piece -->

        <div class="container right">
          <div class="flip-card" ng-click="row.toggles.2.notFlippable || portfolio.flipToggle(this, $index, false, 2)" ng-class="{'transform':row.toggles.2.transform, 'fade':row.toggles.2.fade, 'not-flippable':row.toggles.2.notFlippable}">

            <div class="front face">
              <img class="piece-image primary" ng-hide="row.toggles.2.hidePrimaryImg" src="{{row.2.primary_image}}"/>
              <img class="piece-image nbr-left" ng-hide="row.toggles.2.hideFrontNbrImg_0" src="{{row.2.neighbor_images.left}}"/>
              <img class="piece-image nbr-center" ng-hide="row.toggles.2.hideFrontNbrImg_1"src="{{row.2.neighbor_images.center}}"/>
            </div>

            <div class="back face center">
              <div class="description" ng-hide="row.toggles.2.hideDescription">
                <h3 class="multiple-line"> {{row.2.date}} </h3>
                <h3 class="multiple-line"> {{row.2.company}} </h3>
                <h3> {{row.2.programs}} </h3>
                <div class="description-text">
                  <p> {{row.2.description}} </p>
                </div>
              </div>
              <img class="piece-image nbr-left" ng-hide="row.toggles.2.hideBackNbrImg_0" src="{{row.2.neighbor_images.left}}"/>
              <img class="piece-image nbr-center" ng-hide="row.toggles.2.hideBackNbrImg_1"src="{{row.2.neighbor_images.center}}"/>
            </div>

          </div>
          <div class="show-more" ng-click="portfolio.seeMore(this, $index, 2)" ng-class="{'fade':portfolio.show_more_active && row.toggles.2.notFlippable}">
            <div class="more-button" ng-hide="row.toggles.2.showMoreActive">
              <div class="more-icon"></div><span class="more-text">more from this piece</span>
            </div>
            <div class="less-button" ng-show="row.toggles.2.showMoreActive">
              <div class="less-icon"></div><span class="less-text">close piece</span>
            </div>
          </div>
        </div>
      </div>

    <!-- /page -->
    </div>

    <script type="text/javascript" src="libraries/angular.min.js"></script>
    <script type="text/javascript" src="js/min/modules-bootstrap.min.js"></script>
    <script type="text/javascript" src="js/min/app.min.js"></script>
    <script type="text/javascript" src="js/min/factories.min.js"></script>
  </body>
</html>