<html ng-app="portfolio">
  <head>
    <link rel="stylesheet" type="text/css" href="angular-portfolio-app/css/portfolio.css" />
    <link rel="stylesheet" type="text/css" href="angular-portfolio-app/css/portfolio--mk.css" />
    <link rel="stylesheet" type="text/css" href="angular-portfolio-app/css/libraries/flexslider/flexslider.css" />
    <title>Megan Koschak | Graphic Designer | Portland, OR</title>
  </head>

  <body ng-controller="PortfolioController as portfolio" ng-class="{'overflow-hidden':overflow_hidden}">
    <!-- header -->
    <div id="header-expand">
      <div id ="header">
        <div id="logo">
          <img src="images/min/mk-logo-white.png" title="Megan Koschak, Graphic Designer, Seattle, Portland" alt="Megan Koschak, Graphic Designer, Seattle, Portland" />
        </div>
        <div id="header-info">
          <div id="name">
            <h1><span class="first-name">Megan</span><span class="last-name">Koschak</span></h1>
          </div>
          <ul id="header-links">
            <li id="phone">715.650.0300</li>
            <li id="email"><a href="mailto:megankoschak@gmail.com">megankoschak@gmail.com</a></li>
            <li id="resume"><a href="docs/Megan-Koschak-Resume.pdf" target="_blank" title="View/Download My Resume">resume pdf</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /header -->

    <!-- page -->
    <div id="page">

      <!-- Main content -->

      <div class="main-content-container container-fluid">
        <div class="loading" ng-hide="rows && window_width">
          <div class="loading__animation"></div>
          <div class="loading__text">
            Loading...
          </div>
        </div>
        <section class="main-content" ng-class="{'visible':rows}">

          <!-- Desktop controller/view -->

          <div class="desktop-controller" ng-controller="desktopController" ng-show="window_width >= 768;">
            <div class="portfolio-row two-row clearfix" ng-if="pieces_per_row == 2" ng-repeat="row in rows.ppr_2" ng-class="{'active-row':row.toggles.active_row}">
              <ng-include src="'angular-portfolio-app/templates/two-row.html'"></ng-include>
            </div>
            <div class="portfolio-row three-row clearfix" ng-if="pieces_per_row == 3" ng-repeat="row in rows.ppr_3" ng-class="{'active-row':row.toggles.active_row}">
              <ng-include src="'angular-portfolio-app/templates/three-row.html'"></ng-include>
            </div>
          </div>

          <!-- Mobile controller/view -->

          <div class="mobile-controller" ng-controller="mobileController" ng-show="window_width < 768;">
            <div class="portfolio-row mobile-row clearfix" ng-repeat="row in rows.ppr_1">
              <ng-include src="'angular-portfolio-app/templates/mobile-row.html'"></ng-include>
            </div>
          </div>

        </section>
      </div>

    </div>
    <!-- /page -->

    <!-- Angular Portfolio App JS -->

    <!-- Libraries/Frameworks -->
    <script
  src="https://code.jquery.com/jquery-1.10.2.min.js"
  integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="angular-portfolio-app/js/libraries/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="angular-portfolio-app/js/libraries/angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-portfolio-app/js/libraries/flexslider/angular-flexslider.js"></script>

    <!-- Custom App -->
    <script type="text/javascript" src="angular-portfolio-app/js/app.js"></script>
    <script type="text/javascript" src="angular-portfolio-app/js/factories.js"></script>
  </body>
</html>